body {
    overflow-x: hidden;
    margin: 0;
}

#navbar {
    height: 70px;
    width: 100vw;
    background-color: #F6F6F6;
    margin-top: 0;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

#logo {
    position: absolute;
    width: 220px;
    top: 20px;
    left: calc(50vw - 110px);
}

.tile {
    top: calc(50vh - 5vw);
    left: calc(50vw - 5vw);
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: lightgrey;
}

#tile1 {
    margin-left: calc(-10vw - 0.32vw);
    margin-top: calc(-10vw - 0.32vw);
    border-top-left-radius: 3.1vw;
}

#tile2 {
    margin-top: calc(-10vw - 0.32vw);
}

#tile3 {
    margin-left: calc(10vw + 0.32vw);
    margin-top: calc(-10vw - 0.32vw);
    border-top-right-radius: 3.1vw;
}

#tile4 {
    margin-left: calc(-10vw - 0.32vw);
}

#tile6 {
    margin-left: calc(10vw + 0.32vw);
}

#tile7 {
    margin-left: calc(-10vw - 0.32vw);
    margin-top: calc(10vw + 0.32vw);
    border-bottom-left-radius: 3.1vw;
}

#tile8 {
    margin-top: calc(10vw + 0.32vw);
}

#tile9 {
    margin-top: calc(10vw + 0.32vw);
    margin-left: calc(10vw + 0.32vw);
    border-bottom-right-radius: 3.1vw;
}

#turn-text {
    position: absolute;
    top: 900px;
}

#my-color {
    position: absolute;
    top: 920px;
}

#ban-icon1, #ban-icon2, #ban-icon3, #ban-icon4, #ban-icon5 {
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
    background-color: initial;
    top: calc(50vh - 5vw - 3px);
    font-size: 4.25vw !important;
}