body {
    overflow: hidden;
    margin: 0;
}

#guide {
    width: 550px;
    height: 550px;
    z-index: 4;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    left: calc(50vw - 275px);
    top: calc(50vh - 275px);
    display: none;
    opacity: 0;
    animation: guide-reveal 0.4s;
    animation-fill-mode: forwards;
}

#board {
    position: absolute;
    transform-origin: center center;
}

@keyframes guide-reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#overlay {
    width: 1000%;
    height: 1000%;
    margin: 0;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: none;
}

#navbar {
    height: 70px;
    width: 100vw;
    background-color: #F6F6F6;
    margin-top: 0;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}

#bottombar {
    position: absolute;
    height: 70px;
    width: 100vw;
    background-color: #F6F6F6;
    bottom: 0px;
    box-shadow: 0px 1px 8px 3px rgba(209,209,209,1);
}

#bottombar-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-top: 35px;
    width: 300px;
    margin-left: calc(50vw - 150px);
    text-align: center;
}

#opponent-wait-animation {
    position: absolute;
    left: calc(50vw - 10px);
    bottom: 60px;
}

#circle-1, #circle-2, #circle-3 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 25px;
    animation: circle-fade 1.5s infinite;
}

#circle-1 {
    margin-left: -25px;
    animation-delay: 0.4s;
}

#circle-2 {
    animation-delay: 0.8s;
}

#circle-3 {
    margin-left: 25px;
    animation-delay: 1.2s;
}

@keyframes circle-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#logo {
    position: absolute;
    width: 220px;
    top: 20px;
    left: calc(50vw - 110px);
}

.tile {
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-color: lightgrey;
}

#tile1 {
    margin-left: calc(-10vw - 0.32vw);
    margin-top: calc(-10vw - 0.32vw);
    border-top-left-radius: 3.1vw;
}

#tile2 {
    margin-top: calc(-10vw - 0.32vw);
}

#tile3 {
    margin-left: calc(10vw + 0.32vw);
    margin-top: calc(-10vw - 0.32vw);
    border-top-right-radius: 3.1vw;
}

#tile4 {
    margin-left: calc(-10vw - 0.32vw);
}

#tile6 {
    margin-left: calc(10vw + 0.32vw);
}

#tile7 {
    margin-left: calc(-10vw - 0.32vw);
    margin-top: calc(10vw + 0.32vw);
    border-bottom-left-radius: 3.1vw;
}

#tile8 {
    margin-top: calc(10vw + 0.32vw);
}

#tile9 {
    margin-top: calc(10vw + 0.32vw);
    margin-left: calc(10vw + 0.32vw);
    border-bottom-right-radius: 3.1vw;
}

#turn-text {
    position: absolute;
    top: 900px;
}

#my-color {
    position: absolute;
    top: 920px;
}

#ban-icon1, #ban-icon2, #ban-icon3, #ban-icon4, #ban-icon5 {
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
    background-color: initial;
    font-size: 4.25vw !important;
}

.guide-circle {
    position: absolute;
    background-color: #e0e0e0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    bottom: 50px;
    left: 270px;
}

#guide-circle-2 {
    margin-left: -60px;
}

#guide-circle-3 {
    margin-left: -45px;
}

#guide-circle-4 {
    margin-left: -30px;
}

#guide-circle-5 {
    margin-left: -15px;
}

#guide-circle-7 {
    margin-left: 15px;
}

#guide-circle-8 {
    margin-left: 30px;
}

#guide-circle-9 {
    margin-left: 45px;
}

#guide-circle-10 {
    margin-left: 60px;
}

#guide-text {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 450px;
    left: 50px;
    bottom: 87px;
}

#guide-next-button, #guide-previous-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid lightgrey;
    border-radius: 8px;
    bottom: 33px;
}

#guide-next-button {
    right: 30px;
}

#guide-previous-button {
    left: 30px;
}

#guide-next-button:hover, #guide-previous-button:hover {
    cursor: pointer;
    border-color: #F01C17;
}

#guide-previous-button:hover {
    border-color: #002AA2;
}

#guide-next-button > i, #guide-previous-button > i {
    margin-left: 11px;
    margin-top: 6.5px;
    font-size: 30px;
    color: lightgrey;
}

#guide-previous-button > i {
    margin-left: 7px;
}

#guide-board {
    position: absolute;
    left: 233px;
    top: 140px;
}

#guide-board > div {
    position: absolute;
    width: 84px;
    height: 84px;
    background-color: lightgrey;
}

#guide-tile1 {
    margin-left: -86.7px;
    margin-top: -86.7px;
    border-top-left-radius: 26px;
}

#guide-tile2 {
    margin-top: -86.7px;
}

#guide-tile3 {
    margin-left: 86.7px;
    margin-top: -86.7px;
    border-top-right-radius: 26px;
    /*animation: red-fade-in 0.3s, red-fade-out 0.5s;
    animation-delay: 1.15s, 3s;
    animation-fill-mode: forwards;*/
}

#guide-tile4 {
    margin-left: -86.7px;
}

#guide-tile6 {
    margin-left: 86.7px;
}

#guide-tile7 {
    margin-left: -86.7px;
    margin-top: 86.7px;
    border-bottom-left-radius: 26px;
}

#guide-tile8 {
    margin-top: 86.7px;
}

#guide-tile9 {
    margin-left: 86.7px;
    margin-top: 86.7px;
    border-bottom-right-radius: 26px;
}

.red-text {
    color: #F01C17;
}

.blue-text {
    color: #002AA2;
}

.yellow-text {
    color: #F4E620;
}

#cursor-red, #cursor-blue {
    position: absolute;
    z-index: 5;
    width: 60px;
    opacity: 0;
}

@keyframes cursor-click {
    0% {
        width: 60px;
    }
    50% {
        width: 53px;
    }
    100% {
        width: 60px;
    }
}

@keyframes cursor-click-2 {
    0% {
        width: 60px;
    }
    50% {
        width: 53px;
    }
    100% {
        width: 60px;
    }
}

@keyframes cursor-click-3 {
    0% {
        width: 60px;
    }
    50% {
        width: 53px;
    }
    100% {
        width: 60px;
    }
}

@keyframes page-1-mid {
    0% {
        left: 400px;
        top: 400px;
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        left: 275px;
        top: 200px;
        opacity: 1;
    }
    70% {
        left: 275px;
        top: 200px;
        opacity: 1;
    }
    80% {
        left: 275px;
        top: 200px;
        opacity: 1;
    }
    100% {
        left: 275px;
        top: 200px;
        opacity: 0;
    }
}

@keyframes page-1-right {
    0% {
        left: 480px;
        top: 400px;
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        left: 355px;
        top: 200px;
        opacity: 1;
    }
    70% {
        left: 355px;
        top: 200px;
        opacity: 1;
    }
    80% {
        left: 355px;
        top: 200px;
        opacity: 1;
    }
    100% {
        left: 355px;
        top: 200px;
        opacity: 0;
    }
}

@keyframes page-1-top {
    0% {
        left: 480px;
        top: 400px;
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        left: 355px;
        top: 110px;
        opacity: 1;
    }
    70% {
        left: 355px;
        top: 110px;
        opacity: 1;
    }
    80% {
        left: 355px;
        top: 110px;
        opacity: 1;
    }
    100% {
        left: 355px;
        top: 110px;
        opacity: 0;
    }
}

.page-1-mid {
    animation: cursor-click 0.4s, page-1-mid 1.6s;
    animation-delay: 1s, 0s;
}

.page-1-right {
    animation: cursor-click 0.4s, page-1-right 1.6s;
    animation-delay: 1s, 0s;
}

.page-1-top {
    animation: cursor-click 0.4s, page-1-top 1.6s;
    animation-delay: 1s, 0s;
}

@keyframes red-fade-in {
    0% {
        background-color: lightgrey;
    }
    100% {
        background-color: #F01C17;
    }
}

@keyframes bluetored-fade-in {
    0% {
        background-color: #002AA2;
    }
    100% {
        background-color: #F01C17;
    }
}

@keyframes bluetored-fade-out {
    0% {
        background-color: #F01C17;
    }
    100% {
        background-color: #002AA2;
    }
}

@keyframes red-fade-out {
    0% {
        background-color: #F01C17;
    }
    100% {
        background-color: lightgrey;
    }
}

@keyframes blue-fade-in {
    0% {
        background-color: lightgrey;
    }
    100% {
        background-color: #002AA2;
    }
}

@keyframes blue-fade-out {
    0% {
        background-color: #002AA2;
    }
    100% {
        background-color: lightgrey;
    }
}

@keyframes yellow-fade-in {
    0% {
        background-color: #002AA2;
    }
    100% {
        background-color: #F4E620;
    }
}

@keyframes yellow-fade-out {
    0% {
        background-color: #F4E620;
    }
    100% {
        background-color: #002AA2;
    }
}

@keyframes yellow-fade-in-from-red {
    0% {
        background-color: #F4E620;
    }
    100% {
        background-color: #F01C17;
    }
}

@keyframes yellow-fade-out-from-red {
    0% {
        background-color: #F01C17;
    }
    100% {
        background-color: #F4E620;
    }
}

@keyframes anim-reset {
    0% {
        background-color: lightgrey;
    }
    100% {
        background-color: lightgrey;
    }
}

.yellow-fade {
    animation: yellow-fade-in 0.3s, yellow-fade-out 0.5s;
    animation-delay: 1.15s, 3s;
    animation-fill-mode: forwards;
}

.yellow-fade-red {
    animation: yellow-fade-in-from-red 0.3s, yellow-fade-out-from-red 0.5s;
    animation-delay: 1.15s, 3s;
    animation-fill-mode: forwards;
}

.red-fade {
    animation: red-fade-in 0.3s, red-fade-out 0.5s;
    animation-delay: 1.15s, 3s;
    animation-fill-mode: forwards;
}

.bluetored-fade-stick {
    animation: bluetored-fade-in 0.3s;
    animation-delay: 1.15s;
    animation-fill-mode: forwards;
}

.redtoblue-fade-stick {
    animation: bluetored-fade-out 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.bluetored-fade {
    animation: bluetored-fade-in 0.3s, bluetored-fade-out 0.5s;
    animation-delay: 1.15s, 3s;
    animation-fill-mode: forwards;
}

.blue-fade {
    animation: blue-fade-in 0.3s, blue-fade-out 0.5s;
    animation-delay: 1.15s, 3s;
    animation-fill-mode: forwards;
}

#guide-ban-icon1, #guide-ban-icon2, #guide-ban-icon3, #guide-ban-icon4 {
    position: absolute;
    background-color: initial;
    font-size: 30px;
    left: 275px;
    top: 150px;
    opacity: 0;
}

#guide-ban-icon1 {
    margin-left: -245px;
    margin-top: -122px;
}

#guide-ban-icon2 {
    margin-left: -159px;
    margin-top: -122px;
}

#guide-ban-icon3 {
    margin-left: -159px;
    margin-top: -36px;
}

#guide-ban-icon4 {
    margin-left: -159px;
    margin-top: -208px;
}

@keyframes guide-ban-icon-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes guide-ban-icon-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes guide-ban-icon-pulsate {
    0% {
        font-size: 30px;
        margin-left: -245px;
        margin-top: -122px;
    }
    50% {
        font-size: 37px;
        margin-left: -247.5px;
        margin-top: -124.5px;
    }
    100% {
        font-size: 30px;
        margin-left: -245px;
        margin-top: -122px;
    }
}

.guide-ban-icon-fade-in {
    animation: guide-ban-icon-fade-in 0.3s, guide-ban-icon-fade-out 0.5s;
    animation-delay: 1.15s, 6.5s;
    animation-fill-mode: forwards;
}

.guide-ban-icon-fade-in-pulsate {
    animation: guide-ban-icon-fade-in 0.3s, guide-ban-icon-pulsate 0.8s, guide-ban-icon-fade-out 0.5s;
    animation-delay: 1.15s, 4.65s, 6.5s;
    animation-fill-mode: forwards;
}

.guide-ban-icon-fade-out {
    animation: guide-ban-icon-fade-out 0.5s;
    animation-fill-mode: forwards;
}

#guide-cross-1 {
    background-color: lightgrey;
    width: 25px;
    height: 1.5px;
    transform: rotate(45deg);
    position: absolute;
    left: 505px;
    top: 35px;
}

#guide-cross-2 {
    background-color: lightgrey;
    width: 25px;
    height: 1.5px;
    transform: rotate(-45deg);
    position: absolute;
    left: 505px;
    top: 35px;
}

#cross-click {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 10;
    left: 490px;
    top: 5px;
}

#cross-click:hover {
    cursor: pointer;
}

#guide-button {
    position: absolute;
    width: 37px;
    right: 30px;
    top: 17px;
}

#guide-button:hover {
    cursor: pointer;
}

#play-button {
    position: absolute;
    border: 3px solid lightgrey;
    width: 70px;
    height: 40px;
    border-radius: 8px;
    z-index: 10;
    left: 240px;
    bottom: 33px;
    visibility: hidden;
}

#play-button:hover {
    cursor: pointer;
}

#play-button > p {
    font-family: "Montserrat", sans-serif;
    color: lightgrey;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 10px;
}

@media (max-width: 600px){
    #guide-button {
        top: 88px;
        right: 15px;
    }
}